# Unreal Engine generated folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider / IDE
.vs/
.idea/
.vscode/
*.VC.db
*.VC.opendb
*.suo
*.opensdf
*.sdf

# OS junk
.DS_Store
Thumbs.db